nav{
  padding: 0.5rem 1rem;
  width: 100vw;
  min-height: 5vh;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  z-index: 1000;
}

.links{
  padding: 0.5rem 1rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .home-link{
  align-self: flex-start;
}


.login-link{
  align-self: flex-end;
  /* margin-left: auto; 
  }
  */
  
.home-browser{
  align-self: center;
  display: flex;
  gap: 1rem;
}


.links .lk{
  text-decoration: none;
  color: black;
  border-radius: 10px;
  width: auto;
  padding: 0.2rem;
  font-weight: bold;
}

.links .lk:hover{
  transform: scale(1.1);
  background-color: rgb(221, 221, 221);
}

#login-link{
  padding: 0.5rem;
  background-color: blue;
  color: white;
  font-weight: bold;
}

main{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}