nav{
  padding: 0.5rem 1rem;
  width: 100vw;
  min-height: 5vh;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(44, 44, 44);
}

.links{
  padding: 0.5rem 1rem;
  justify-self: flex-start;
  display: flex;
  gap: 20px;
}

.links > *{
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: auto;
  padding: 0.2rem;
}

.links > *:hover{
  transform: scale(1.1);
  background-color: rgb(75, 75, 75);
}

main{
  display: flex;
  flex-flow: column;
  align-items: center;
}